[package]
name = "wushen-core"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
meval = "0.2"
thiserror = "1.0"
anyhow = "1.0"

